.contenedor{
    display: grid;
}
.contenido{
    padding: 3%;
    width: 80%;

}
.lado-izquierdo{
    grid-column: 1 / 1;
}
.lado-derecho{
    grid-column: 3 / 3;
}

body{
    background-color: rgb(241, 214, 201);
    font-family: Montserrat;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.especialidad{
    font-weight: 300;
}
.separadorVertical{
    border-left: 1px solid black;
    height: auto;
    grid-column: 2 / 2;
    padding: 10px;
}
.separadorHorizontal{
    border-top: 1px solid black;
    width: auto;
    padding: 5px;
}
.proyecto{
    width: 80%;
    display: flex;
    justify-content: space-between;
}