.contenedor{
    display: grid;
}
.contenido{
    padding: 4%;

}
.lado-izquierdo{
    grid-column: 1 / 1;
}
.lado-derecho{
    grid-column: 3 / 3;
}

body{
    background-color: rgb(241, 214, 201);
    font-family: Montserrat;
}
a{
    text-decoration: none;
    color: black;
}
.especialidad{
    font-weight: 300;
}
.separadorVertical{
    border-left: 1px solid black;
    height: auto;
    grid-column: 2 / 2;
}
.separadorHorizontal{
    border-top: 1px solid black;
    width: auto;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}