.contenedor{
    display: grid;
}
.contenido{
    padding: 3%;
    width: 70%;
}
.lado-izquierdo{
    grid-column: 1 / 2;
}
.lado-derecho{
    grid-column: 3 / 3;
}

body{
    background-color: rgb(252, 239, 224);
    font-family: Montserrat;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.especialidad{
    font-weight: 300;
}
.separadorVertical{
    border-left: 1px solid black;
    height: auto;
    grid-column: 2 / 3;
    padding: 10px;
    margin: 0 25px;
}
.separadorHorizontal{
    border-top: 1px solid black;
    width: auto;
    margin-top: 10px;
}
.proyecto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.proyecto p{
    margin: 0;
}
.contacto{
    margin-bottom: 45px;
}
.contacto li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.contacto li a{
    display: flex;
    align-items: center;
}
.contacto ul{
    padding: 0;
}
.logo{
    width: 25px;
    height: 25px;
    padding: 5px;
}
.habilidades ul li{
    margin-bottom: 10px;
}
h4{
    margin-bottom:10px;
}
.educacion p{
    margin: 5px;
}
.educacion{
    margin-bottom: 50px;
}
*{
    color:#272727;
}
h4{
    color:#545454;
}
.item{
    margin-bottom: 30px;
}
